/* General styles for the favorite container */
.favorite-container {
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Ensure entire page background is white */
}

/* Intro Section */
.favorite-intro-section {
    background-image: url('../assets/favintro.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff; /* Ensure text color contrasts with the background */
    padding: 100px 20px; /* Increased padding for more spacing */
    text-align: center;
}

.favorite-intro-section .content-container {
    width: 90%;
    margin: 0 auto;
}

.favorite-intro-section h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #fff; /* Ensure title text is white for contrast */
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add subtle shadow for readability */
}

.favorite-intro-section p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #f2f2f2; /* Softer white for paragraph text */
    line-height: 1.8;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Text shadow for readability */
}

/* Login Button */
.login-button {
    display: inline-block;
    background-color: rgb(4, 111, 252);
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Recipes Section */
.favorite-recipes-section {
    background-color: #ffffff;
    padding: 40px 20px;
}

.favorite-recipes-section .content-container {
    width: 90%;
    margin: 0 auto;
}

.recipes-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1.5rem;
}

/* Media Queries */
@media (max-width: 768px) {
    .favorite-intro-section h1,
    .favorite-intro-section p {
        font-size: 2rem;
    }

    .login-button {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
    }

    .favorite-intro-section .content-container {
        width: 90%;
    }
}