.roulette-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header-section {
  width: 100%;
  background-image: url('../assets/homeintro.jpg'); /* Add your background image here */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  padding: 100px 20px; /* Match padding with HomePage */
  color: white;
}

.header-content {
  width: 80%; /* Match width with HomePage */
  margin: 0 auto;
}

.header-content h1 {
  font-size: 3.5rem; /* Match font size with HomePage */
  font-weight: bold;
  color: #fff;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-content p {
  font-size: 1.5rem; /* Match font size with HomePage */
  margin-bottom: 2rem;
  color: #f2f2f2;
  line-height: 1.8;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.instructions-section {
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 20px;
}

.instructions-section h2 {
  font-size: 2.75rem;
  margin-bottom: 1rem;
  color: #333;
}

.instructions-section p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #555;
  line-height: 1.6;
}

.feature-description-section {
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 20px;
}

.content-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex; /* Add flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}

.cta-button {
  background-color: rgb(252, 83, 4); /* Match button color with HomePage */
  color: #fff;
  padding: 1rem 2rem; /* Match button size with HomePage */
  font-size: 1.2rem;
  border: none;
  border-radius: 50px; /* Match border radius with HomePage */
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0.5rem; /* Spacing between buttons */
}

.cta-button:hover {
  background-color: rgb(226, 73, 3); /* Match hover color with HomePage */
}

.recipe-result-section {
  width: 100%;
  background-color: white;
  padding: 20px;
  display: flex; /* Add flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center the recipe card */
  transform: translateY(100%);
  animation: slideIn 1s forwards;
  animation-delay: 1s; /* Delay to ensure it slides in after other animations */
}

@keyframes slideIn {
  to {
      transform: translateY(0);
  }
}

.try-again-section {
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 20px;
}

.try-again-section p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #555;
  line-height: 1.6;
}