/* General styles for the browse-container */
.browse-container-unique {
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Ensure entire page background is white */
}

/* Intro Section */
.browse-intro-section-unique {
    background-image: url('../assets/introsectionbrowse.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff; /* Ensure text color contrasts with the background */
    padding: 100px 20px; /* Increased padding for more spacing */
    text-align: center;
}

.browse-intro-section-unique .content-container-unique {
    width: 80%;
    margin: 0 auto;
}

.browse-intro-section-unique h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #fff; /* Ensure title text is white for contrast */
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add subtle shadow for readability */
}

.browse-intro-section-unique p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #f2f2f2; /* Softer white for paragraph text */
    line-height: 1.8;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Text shadow for readability */
}

/* Recipes Section */
.browse-recipes-section-unique {
    background-color: #ffffff;
    padding: 40px 20px;
}

.browse-recipes-section-unique .content-container-unique {
    width: 90%;
    margin: 0 auto;
}

.recipes-container-unique {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.view-more-button-unique {
    display: block;
    width: 200px;
    margin: 20px auto;
    background-color: #ff6347;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-more-button-unique:hover {
    background-color: #e55341;
}

/* Media Queries */
@media (max-width: 768px) {
    .browse-intro-section-unique h1,
    .browse-intro-section-unique p {
        font-size: 2rem;
    }

    .view-more-button-unique {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
    }

    .browse-intro-section-unique .content-container-unique {
        width: 90%;
    }
}